name: Run unit tests

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Set env
        run: |
          echo "RELEASE_DATE=$(date +%Y.%m.%d_%H.%M.%S)" >> ${GITHUB_ENV}
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

          [[ "${GITHUB_REF_TYPE}"  = "tag" ]] && echo ARTIFACT_NAME="Radiola-${GITHUB_REF_NAME:1}.app" >> $GITHUB_ENV
          [[ "${GITHUB_REF_TYPE}" != "tag" ]] && echo ARTIFACT_NAME="Radiola-$(date +%Y.%m.%d_%H.%M.%S).app" >> $GITHUB_ENV

          [[ "${GITHUB_REF_TYPE}"  = "tag" ]] && echo TAR_NAME="Radiola-${GITHUB_REF_NAME:1}.tar" >> $GITHUB_ENV
          [[ "${GITHUB_REF_TYPE}" != "tag" ]] && echo TAR_NAME="Radiola-$(date +%Y.%m.%d_%H.%M.%S).tar" >> $GITHUB_ENV

          echo "==============================="
          export
          echo "-------------------------------"
          cat $GITHUB_ENV
          echo "==============================="

      - uses: actions/checkout@v4

      - name: Run unit tests
        run: xcodebuild test -scheme Radiola CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

